.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar Styles */

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}

nav h3 {
  text-align: left;
  font-weight: 800;
  font-size: 28px;
}

nav button {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 1px solid black;
  padding: 17px 24px;
  border-radius: 8px;
  cursor: pointer;
}

nav button:hover {
  background-color: black;
  color: white;
  font-weight: 700;
}

/* Banner Styles */

.banner-contents {
  background-image: url("../images/Hero-bg.png");
  background-position: center;
  background-size: cover;
  margin-top: 48px;
  margin-bottom: 74px;
  padding: 50px 220px 70px 220px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-contents h1 {
  font-size: 48px;
  font-weight: 800;
  padding-right: 120px;
  padding-left: 120px;
}

.banner-contents button {
  background-color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 24px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 45px;
}

.banner-contents button:hover {
  background-color: white;
  font-weight: 700px;
  color: black;
}

.banner-contents p {
  padding-right: 120px;
  padding-left: 120px;
}

/* Web Development Styles */

main {
  margin: 0 150px;
}

.web-development {
  margin: 74px 0px 40px;
  padding: 80px 100px;
}

.web-development > h1 {
  font-size: 32px;
  font-weight: 800;
}

.web-development > h1,
.web-development > p {
  text-align: center;
}

.web-development > p {
  margin-bottom: 32px;
}

.web-development p {
  color: rgb(13, 19, 33);
  font-weight: 400;
}

.reason {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 48px 0;
}

.reason-text {
  margin: 10px 100px 10px 32px;
}

.reason-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 100px;
}

.reasons h1 {
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.reason-text img {
  padding: 16px;
}

.reason-text button {
  color: rgba(13, 19, 33, 0.7);
  margin-top: 32px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(13, 19, 33, 0.7);
  border-radius: 5px;
}

.reason-text button:hover {
  background-color: black;
  color: white;
  font-weight: 700;
}

/* Inspiration Section */

.inspiration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px;
  text-align: center;
}

.youtube {
  border-radius: 16px;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.section-description {
  color: rgb(13, 19, 33);
  margin: 32px 0 64px;
  padding: 0 100px;
  font-weight: 400;
  text-align: center;
}

/* Current Target Styles */

.current-target {
  margin: 150px 0px;
  padding: 0 50px;
}

.targets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.target {
  text-align: left;
  padding: 50px;
  border-radius: 16px;
}

.target a {
  font-size: 18px;
  margin-top: 24px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-decoration-color: rgb(13, 19, 33);
}

.html {
  background: rgba(255, 76, 30, 0.05);
}

.css {
  background: rgba(0, 76, 232, 0.05);
}

.js {
  background: rgba(255, 223, 0, 0.05);
}
